@import url(http://fonts.googleapis.com/css?family=Dancing+Script:700);@import url(https://fonts.googleapis.com/css?family=PT+Sans+Caption:400);@font-face{font-family:Questrial;src:url(../fonts/Raleway-Light.ttf);}
html,
body{width:100%;height:100%;}
body{font-family:'Questrial','Helvetica Neue',Arial,sans-serif;webkit-tap-highlight-color:#222;}
.bodyHome, #footer{color:#d3d3d3;}
hr{max-width:80px;border-width:3px;opacity:0.09;margin-top:15px;margin-bottom:15px;}
hr.light{border-color:#fff;}
h2{font-weight:700;}
a{color:#9c27b0;-webkit-transition:all .35s;-moz-transition:all .35s;transition:all .35s;}
a:hover,
a:focus{color:#9c27c1;outline:0;}
h1,h2,h3,h4,h5,h6{font-family:'Questrial','Helvetica Neue',Arial,sans-serif;}
p{font-size:17px;line-height:1.7;margin-bottom:20px;}
.wide-space{letter-spacing:1.6px;}
.icon-lg{font-size:50px;line-height:18px;}
.bg-primary{background-color:#333;}
.bg-dark{color:#eee;background-color:#222;}
.cursive{font-family:'Dancing Script', cursive;text-transform:none;}
.text-faded{color:rgba(245,245,245,0.7);}
.text-dark{color:#111;}
.text-primary{color:#9c27b0;}
.modal-content{background-color:#1d1d1d;}
section{padding:70px 0;}
aside{padding:50px 0;}
footer{padding:15px;}
.no-padding{padding:0;}
.navbar-default{border-color:rgba(35,35,35,.05);font-family:'Questrial','Helvetica Neue',Arial,sans-serif;background-color:#222;-webkit-transition:all .4s;-moz-transition:all .4s;transition:all .4s;}
.navbar-header > .navbar-brand{font-family:'Questrial','Helvetica Neue',Arial,sans-serif;color:#9c27b0;padding:15px;-webkit-transition:padding .2s ease-in;-moz-transition:padding .2s ease-in;transition:padding .2s ease-in;}
.navbar-header > .navbar-brand:hover,
.navbar-header > .navbar-brand:focus{color:#8b27b0;}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{background-color:#181818;}
.navbar-default .navbar-toggle, .navbar-default .navbar-collapse{border-color:transparent;}
.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus{text-transform:uppercase;font-size:13px;font-weight:700;color:#eee;}
.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover{color:#9c27b0;}
.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus{color:#9c27b0 !important;background-color:transparent;}
.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover{background-color:transparent;}
.listLocales a{color:rgba(255,255,255,0.8);letter-spacing:1.1px;text-shadow:1px 1px 1px rgba(60,60,60,0.7);text-transform:uppercase;font-size:13px;font-weight:700;line-height:20px;visibility:hidden;opacity:0;width:0;padding:0!important;display:inline-block!important;-webkit-transition:all .5s;-moz-transition:all .5s;transition:all .5s;}
a.currentLanguage{visibility:visible;opacity:1;width:auto;padding:20px!important;}
.listLocales:hover a{visibility:visible;opacity:1;width:auto;padding:20px!important;}
.logotype{height:20px;width:20px;background:url(../image/logo1.png);background-size:20px;display:inline-block!important;vertical-align:middle;opacity:0.7;}
.navbar-brand:hover .logotype{opacity:1;}
.navbar-brand span{vertical-align:middle;}
.navbar-default .logotype{background:url(../image/logo.png);background-size:20px;opacity:1;}
@media(min-width:768px){.navbar-default{border-color:transparent;background-color:transparent;min-height:60px;}
.navbar-header > .navbar-brand{color:rgba(255,255,255,0.7);padding:19px;}
.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus{color:#f4f4f4;}
.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus{color:rgba(255,255,255,0.8);padding:20px;letter-spacing:1.1px;text-shadow:1px 1px 1px rgba(60,60,60,0.7);}
.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover{color:#fefefe;}
.navbar-default.affix{border-color:rgba(34,34,34,.05);background-color:#222;}
.navbar-default.affix .navbar-header .navbar-brand{font-size:15px;color:#9c27b0;padding:20px;letter-spacing:1px;}
.navbar-default.affix .navbar-header .navbar-brand:hover,
.navbar-default.affix .navbar-header .navbar-brand:focus{color:#8b27b0;}
.navbar-default.affix .nav > li>a,
.navbar-default.affix .nav>li>a:focus{color:#ddd;text-shadow:1px 1px 1px rgba(30,30,30,0.7);}
.navbar-default.affix .nav > li>a:hover,
.navbar-default.affix .nav>li>a:focus:hover{color:#9c27b0;}
.navbar-default .logotype{background:url(../image/logo1.png);background-size:20px;opacity:0.7;}
}
.affix .logotype{background:url(../image/logo.png);background-size:20px;opacity:1;}
header{position:relative;min-height:auto;text-align:center;color:#fff;width:100%;background-color:#c9c9c9;background-image:url('https://splashbase.s3.amazonaws.com/lifeofpix/regular/Life-of-Pix-free-stock-photos-Slate-Stone-Xeromatic-1440x953.jpg');background-position:center;-webkit-background-size:cover;-moz-background-size:cover;background-size:cover;-o-background-size:cover;}
header .header-content{position:relative;width:100%;padding:100px 15px;text-align:center;z-index:2;}
header .header-content .inner h1{text-shadow:2px 2px 4px #000000;margin-top:0;margin-bottom:0;font-size:70px!important;}
header .header-content .inner h4{font-size:22px!important;text-shadow:0px 0px 10px #000000, 0px 0px 5px #000000;}
header .header-content .inner p{margin-bottom:50px;font-size:16px;font-weight:300;color:rgba(255,255,255,0.7);}
header .header-link{background:white!important;opacity:0.7;color:#282828!important;}
header .header-link:hover{opacity:1!important;color:#282828;}
.chooseLanguage-header{margin-top:50px;}
#video-background{position:absolute;right:0;bottom:0;min-width:100%;min-height:100%;width:auto;height:auto;z-index:1;}
#video-background.collapsing{display:none;}
footer{background-color:#2d2d2d;}
@media(min-width:768px){.icon-lg{font-size:80px;}
header{min-height:100%;}
header .header-content{position:absolute;top:50%;padding:0 50px;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);}
header .header-content .inner{margin-right:auto;margin-left:auto;max-width:1000px;}
header .header-content .inner h1{font-size:53px;}
header .header-content .inner p{margin-right:auto;margin-left:auto;max-width:80%;font-size:18px;}
section{min-height:600px;padding:100px 0;}
}
.form-control{display:block;width:100%;height:35px;padding:6px 12px;font-size:14px;line-height:1.5;color:#eee;background-color:#36333d;background-image:none;border:1px solid #36333d;border-radius:4px;box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;}
.form-control:focus{color:#222;background-color:#ccc;box-shadow:none;}
textarea{resize:none;}
.margin-top-0{margin-top:0;}
.feature{margin:50px auto 0;max-width:400px;}
@media(min-width:992px){.feature{margin:20px auto 0;}
}
.feature p{margin-bottom:0;}
.call-to-action h2{margin:0 auto 20px;}
.gallery-box{display:block;position:relative;margin:0 auto;max-width:650px;overflow:hidden;}
.gallery-box .gallery-box-caption{display:block;position:absolute;bottom:0;width:100%;height:100%;text-align:center;color:#fff;opacity:0;background:rgba(44,44,44,.8);-webkit-transition:all .35s;-moz-transition:all .35s;transition:all .35s;}
.gallery-box .gallery-box-caption .gallery-box-content{position:absolute;font-size:30px;top:50%;width:100%;text-align:center;transform:translateY(-50%);}
.gallery-box:hover .gallery-box-caption{opacity:1;}
.gallery-box:hover img{-webkit-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1);}
.gallery-box img{-webkit-transition:all 300ms ease-in-out;transition:all 300ms ease-in-out;}
.no-gutter > [class*=col-]{padding-right:0;padding-left:0;}
.btn-default{border-color:#fff;color:#222;background-color:#fff;-webkit-transition:all .35s;-moz-transition:all .35s;transition:all .35s;}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default{border-color:#ededed;color:#222;background-color:#f2f2f2;opacity:0.7;}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default{background-image:none;}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active{border-color:#fff;background-color:#fff;opacity:0.7;}
.btn-default .badge{color:#fff;background-color:#222;}
.btn.btn-primary{background-color:transparent;border:1px solid #f0f0f0;border-color:#f0f0f0;-webkit-transition:all .35s;-moz-transition:all .35s;transition:all .35s;}
.btn.btn-primary:hover{opacity:0.7;}
.btn{border:0;border-radius:290px;font-family:'Helvetica Neue',Arial,sans-serif;}
.btn-xl{padding:15px 30px;font-size:20px;}
::-moz-selection{text-shadow:none;color:#fff;background:#222;}
::selection{text-shadow:none;color:#fff;background:#222;}
img::selection{color:#fff;background:0 0;}
img::-moz-selection{color:#fff;background:0 0;}
.modal-body{text-align:center;padding:35px;}
.modal-open .modal{display:flex!important}
.modal-dialog{align-items:center;display:flex;}
.img-responsive{width: 100%!important}
video{
	position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
}
.r5-overlay, .r5-content, .r5-controls {
	display: none!important;
}
.contact-form label{
	padding-top: 15px;
}
.currentLocaleMobile{
    color: #9c27b0 !important;
}
.header-profile{
    min-height: 200px;
}
.imageProfileHeaderBlock>div{
    display: none;
    background: black;
    opacity: 0.75;
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    line-height: 160px;
    border-radius: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.imageProfileHeaderBlock:hover>div{
    display: block;
}
.imageProfileHeaderBlock {
    position: absolute;
    bottom: -35px;
    left: 80px;
    border-radius: 100%;
    width: 160px;
    height: 160px;
    cursor: pointer;
}
.imageProfileHeader{
    width: 160px;
    height: 160px;
    border-radius: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.labelProfileHeader{
    position: absolute;
    bottom: 10px;
    left:280px;
}
.navigationInProfile {
    background: white;
    border-bottom: 1px solid #f1f1f1;
}
.navigationInProfile ul {
    margin-left: 280px;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    height: 48px;
}
.navigationInProfile li:first-child {
    margin-left: 0;
}
.navigationInProfile li {
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    display: block;
}
.navigationInProfile a{
    cursor: pointer;
    position: relative;
    display: block;
    color: #0a86b1;
    padding: 13px 0;
    text-decoration: none;
    font-size: 16px;
}
.currentEditBlock {
    color: black!important;
    padding-bottom: 13px!important;
    border-bottom: black 1px solid;
}
.mobNavInProfile{
    padding: 0 35px;
}
.mobNavInProfile .currentEditBlock{
    border: none;
}
.editblock {
    background: #f9f9f9;
    padding: 30px 0;
}
.field {
    margin: 20px;
    min-height: 50px;
}
.field-title{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    color: #999;
}
.form-control-bootstrap, .date input, .date input:focus {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.field-radio label{
    min-width: 90px;
}
.contacts_header {
    text-transform: uppercase;
    border-bottom: 2px solid #d0d2d3;
    padding-bottom: 6px;
    letter-spacing: .5px;
    font-size: 18px;
    font-weight: bold;
    color: #555;
    margin: 20px;
}

.loading_svg {
    margin: 30% 0;
}
.loading_svg>div{
    
}
.vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;
  justify-content: center;
}
.languageBlock {
    background: #fff;
    box-shadow: 1px 2px 8px rgba(0,0,0,0.2);
    border-radius: 5px;
    margin: 10px 0 25px 0;
    padding: 35px;
    color: #999;
}
.Select-value-label{
    color: #999;
}
.addLanguageBlock {
    color: #555;
}
.languageBlock .btn-group label, .field-radio label{
    border-color: #d9d9d9 #ccc #b3b3b3;
    border-radius: 4px;
    border: 1px solid #ccc;
    line-height: 20px;
}
.field-radio label:first-child{
    border-right: none;
}
.languageBlock .btn-group label{
    line-height: 22px;
    width: 10%;
    min-width: 50px;
}
.languageBlock .btn-group label:last-child{
    width: 40%;
    min-width: 110px;
}
.languageBlock .btn-group label.active, .field-radio label.active{
    background: #e6e6e6;
}
.levelDescription{
    margin: 10px 0;
}
.removeLangButton{
    height: 40px;
    background-image: url(../image/remove_icon.png);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: right 20px top 8px;
    cursor: pointer;
}
.languageBlock h2{
    margin-top: 10px!important;
}
.uploadFile input{
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top:0;
    left: 0;
    cursor: pointer;
}
.teamDashboard{
    background: #f9f9f9;
    padding: 30px 0;
}
.teamDashboard h2{
    font-weight: bold;
}
.backgroundTeam{
    width: 100%;
    display: block;
    border-radius: 4px 4px 0 0;
}
.userImageTeam{
    margin-top: -90px;
}
.userImageTeam img{
    width: 180px;
    margin-right: 15px;
    border-radius: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.userTeam {
    position: relative;
    background: white;
    /*box-shadow: 0 2px 3px rgba(0, 0, 0, 0.07);*/
    box-shadow: 1px 2px 8px rgba(0,0,0,0.2);
    border-radius: 4px;
    margin-bottom: 20px;
}
.userInfoTeam {
    padding: 0 25px 40px 25px;
}
.userInfoTeam p{
    text-align: left;
    margin-bottom: 5px;
}
.btn-blue-fill{
    margin-top: 15px;
    color: white;
    font-size: 18px;
    background: #9c27b0;
    border: 2px solid #9c27b0;
    min-width: 70%;
    height: 50px;
}
.btn-blue-fill:hover{
    background: white;
    color: #9c27b0;
}
.headerDashboard{
    min-height: 70%!important;
}
.form-inline-bootstrap {
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}
.parametrsSearch{
    padding: 20px 40px;
    -webkit-box-shadow: 3px 0 10px -2px #888;
            box-shadow: 3px 0 10px -2px #888;
}
@media(max-width:400px){
    .parametrsSearch{
        padding: 0 20px 20px 20px;
    }
}
.parametrsSearch>div{
    margin: 10px 0 15px 0;
}
.searchPeoplePage .row {
  display: -webkit-box!important;
  display: -webkit-flex!important;
  display: -ms-flexbox!important;
  display:         flex!important;
  flex-wrap: wrap!important;
}
.searchPeoplePage .row > [class*='col-'] {
  display: flex!important;
  flex-direction: column!important;
}
.Select-menu-outer {
    z-index: 5!important;
}
.hrefTouser, .hrefTouser:hover, .hrefTouser:focus{
    color: black;
    text-decoration: none;
}
.imageSearchPeople{
 /*   margin-right: 35px;*/
}
.imageSearchPeople img{
    /*width: 140px;
    height: 140px;*/
    max-width: 140px;

    border-radius: 100%;
}
.listPeople {
    background: #fff;
    box-shadow: 1px 2px 8px rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 25px;
    margin-bottom: 25px;
}
.listPeopleDiv{
    padding: 50px 70px;
}
.react-alerts{
    margin: 60px 40px!important;
}
.modal-dialog{
    max-width: 90%;
}
.modal-content, .modal-content canvas{
    max-width: 100%;
}
.modal-content input[type="range"]{
    max-width: 100%;
    background: #1d1d1d;
    border: #1d1d1d!important;
}
@media(max-width:640px){
    .listPeopleDiv{
        padding: 20px;
    }
    .listPeople{
        padding: 25px 20px;
    }
}
@media(max-width: 767px){
    .hrefTouser{
        text-align: center;
    }
    .hrefTouser img{
        float: none!important;
        margin: 0 auto;
    }
    .imageProfileHeaderBlock{
        left:0;
        width: 100%;
    }
    .labelProfileHeader{
        display: none;
    }
    .languageBlock{
        padding: 20px;
    }
    .gallery-box-caption, .gallery-box{
        opacity: 1!important;
        background: rgba(44,44,44,.5)!important;
    }
    .imageProfileHeaderBlock>div{
        width: 160px;
        height: 160px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }
    .react-alerts{
        width: 100%!important;
        margin: 0!important;
        padding: 60px 20px;
    }
    .alert{
        width: 100%!important;
    }
    .languageBlock .btn-group label:last-child{
        width: auto!important;
    }
}

.search_people_btn:hover{
    color: white;
    background: #86119A;
    border-color: #86119A;
}